<div class="container">
    <div class="row justify-content-center">
        <h1>Delete Plants</h1>
    </div>
</div>
<form method='GET' id="deleteformid">
    <div class="form-group">
        <label for="plant">Select Plant to Delete</label>
        <select class="form-control" name="plants" id="plantselectid">
        {{#each plants}}
            <option>{{this}}</option>
        {{/each}}
        </select>
    </div>
    <button id="deleteplantsubmitid">Submit</a>
</form>
