<p>This page represent the database for an exotic plant store. No clients will ever see this page. Website is only for
    the buisness owner. Website allows user to view all tables, update plants in stock, delete plants in stock, and
    search which plants were ordered by different customers.</p>
<ul>
    <li>View/Insert Entity Tables</li>
    <ul>
        <li>Drop down menu that allows user to select which entity they want to view and insert a new row into.</li>
        <li>Implements the insert and select query requirements for each table.</li>
    </ul>
    <li>Update Plants</li>
    <ul>
        <li>User will select a dynamically generated drop down menu for which plant they want to update. Then they will
            be
            taken to a new page with a form. The user will
            be able to change values and update the row. Clicking submit will take the user to the view/insert
            entity
            page for plants.</li>
    </ul>
    <li>Delete Plants</li>
    <ul>
        <li>User will select a dynamically generated drop down menu for which plant they want to delete. Clicking submit
            will delete the plant in the Plants entity table as well as the M:M relationsihp in Plants_Orders.</li>
    </ul>
    <li>Search Customers Orders</li>
    <ul>
        <li>User will select a dynamically generated drop down menu for all the customers in the database. This will
            then show all the orders for that customer and which plants they have purchased.</li>
    </ul>
    <li>One to Many Relationship NULL value</li>
    <ul>
        <li>When making a customer, user will be able to set the address to NULL</li>
    </ul>
</ul>